main{
    padding: 30px 10%;
    div{
        display: inline-block;
        margin: 20px 30px;

        img{
            width: 200px;
        }
        p{
            text-align: center;
        }
    }



}